@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(73, 46, 46);
    background: url('img/bg-noise.png');
    background-repeat: repeat;
    height: 100vh;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    /* position: fixed;
    top: 0;
    left: 0; */
    z-index: 1;
    /* border-bottom: solid 1px #f2f2f2; */
}
.main-nav {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    list-style: none;
}
.main-nav a {
    text-decoration: none;
    color: #E4C2C2;
    opacity: 0.3;
    transition: 0.2s ease;
    position: relative;
}
.main-nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    height: 2px;
    width: 0%;
    background-color: rgb(208, 56, 56);
    transition: 0.2s ease;
}
.main-nav a:hover {
    opacity: 1;
}
.main-nav a:hover::after {
    width: 100%;
    left: 0%;
}
.logo {
    height: 50px;
    cursor: pointer;
}

.title-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7%;
    background: url('img/white-noise.png');
    /* background-color: #e7dfdf; */
    width: 45vw;
    height: 50vh;
    box-shadow: 0px 2px 10px rgba(20,20,20,0.5);
}
.title {
    font-size: 2em;
    line-height: 180%;
    letter-spacing: -1px;
    color: rgba(73, 46, 46, 0.85);
    font-weight: 300;
}



.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 210px);
    /* width: 90vw;
    margin: auto;
    border-top: solid 1px rgba(228, 194, 194, 0.5); */
}
.home-content {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lady {
    width: 37vw;
}

#work-section {
    border-bottom: solid 1px #e7dfdf;
    border-top: solid 1px #e7dfdf;
    margin-top: 75px;
}
.work-grid {
    margin: 30px 0px 30px 0px;
    display: none; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-gap: 30px;
}

.work-item {
    position: relative;
    background-color: rgb(208, 56, 56);
    width: 45vw;
    height: 45vw;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(20,20,20,0.5);
}
.work-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45vw;
    height: 45vw;
    background-color:rgb(20, 20, 20);
    opacity: 0;
    transition: 0.3s ease;
}
.work-item img {
    width: 45vw;
}
.contact-us {
    position: relative;
    background-color: rgb(208, 56, 56);
    height: 45vw;
    cursor: pointer;
    transition: 0.2s ease;
    grid-column: span 2;
    width: 100%;
    height: 20vw;
}
.work-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e7dfdf;
    font-weight: 300;
    font-size: 2em;
    pointer-events: none;
    z-index: 1;
    transition: 0.2s ease;
}
.work-item:hover::after {
    opacity: 0.8;
}



footer {
    position: fixed;
    bottom: 0;
    left: 5vw;
    padding: 30px 0px;
    width: 90vw;
    border-top: solid 1px rgba(228, 194, 194, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-contact, .footer-location, .footer-social {
    display: flex;
    flex-direction: column;
}
.footer-contact-heading, .footer-location-heading, .footer-social-heading {
    color: rgb(208, 56, 56);
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 4px;
}
.footer-email, .footer-phone, .footer-address, .footer-link {
    color: rgba(228, 194, 194, 0.5);
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 2px;
    margin-top: 15px;
}
.footer-phone {
    font-size: 0.8em;
}
